<p>
    Adjust excused missed turns for one or all members in the game.
    If a user's value drops below 0, it will remain at 0.
</p>

{{ fields.game_id|raw }}

<div class="form-group">
    <label for="admin-game-adjust-excused-missed-turns-user-id" class="col-form-label">User:</label>
    <select name="user_id" class="form-control" id="admin-game-adjust-excused-missed-turns-user-id">
        <option value="-1">All Users</option>
        {% for member in game.members %}
            {% if member.status.isPlaying %}
                <option value="{{ member.user.id }}">{{ member.user.username }} ({{ member.country.name }})</option>
            {% endif %}
        {% endfor %}
    </select>

    {{ fields.amount|raw }}
</div>
