{% if not isGlobal %}<span class="memberStatus{{ member.status }}">{% endif %}
{% if isHidden %}
    <a class="country{{ member.country.id }}">{{ member.country.name }}</a>
{% else %}
    <a class="country{{ member.country.id }}" href="/games/{{ game.id }}/view?msgCountryID={{ member.country.id }}#chatboxanchor">{{ member.country.name }}</a>
{% endif %}
{% if not isGlobal %}</span>{% endif %}