<p>
    Force a user into Civil Disorder for game "{{ game.name }}".<br />
    Forced CDs do not count against the player's RR. <br />
    If the game has not started yet the user will be removed from the game entirely, and if they were the only user in the game, the game will be cancelled.
</p>


<div class="form-group">
    <label for="admin-game-force-user-cd-user-id" class="col-form-label">User:</label>
    <select name="user_id" class="form-control" id="admin-game-force-user-cd-user-id">
        {% for member in game.members %}
            {% if member.status.isPlaying %}
            <option value="{{ member.user.id }}">{{ member.user.username }} ({{ member.country.name }}) - {{ member.user.reliabilityRating|round(2) }} RR</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
