<p>
    Alter which player has which country.
</p>

{% for member in game.members %}
    {% if member.isAssigned %}
    <div class="row" >
        <div class="col-md-3">
            <label for="admin-game-reallocate-countries-{{ member.id }}">{{ member.user.username }}</label>
        </div>
        <div class="col-md-3">
            <span class="country{{ member.country.id }}">{{ member.country.name }}</span>
        </div>
        <div class="col-md-6 ml-auto">
            <select name="countries[{{ member.id }}]" id="admin-game-reallocate-countries-{{ member.id }}" class="form-control">
            {% for country in countries %}
                <option value="{{ country.id }}"{% if country.id == member.country.id %} selected="selected"{% endif %}>{{ country.name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
{% endfor %}

