<div id="footer">
    {{ stats|raw }}
    <br />
    <br />
    webDiplomacy version <strong>{{ webdiplomacy_version }}</strong>
    <br />
    <br />

    <a href="http://github.com/splittingred/webDiplomacy" class="light">GitHub Project</a> |
    <a href="http://github.com/splittingred/webDiplomacy/issues" class="light">Bug Reports</a> | <a href="mailto:{{ moderator_email }}" class="light">Moderator Email</a> |
    <a href="/help/contact-direct" class="light">Contact Us Directly</a>

    <p>&nbsp;</p>
</div>

<script src="/javascript/contrib/jquery-3.3.1.min.js?ver={{ js_version }}"></script>
<script src="/javascript/contrib/bootstrap-4.3.1.bundle.min.js?ver={{ js_version }}"></script>
<script src="/javascript/clickhandler.js?ver={{ js_version }}"></script>
<script src="/javascript/global.js?ver={{ js_version }}"></script>
{{ footer_scripts|raw }}
</body>
</html>