<div id="footer">
    {{ stats|raw }}
    <br />
    <br />
    webDiplomacy version <strong>{{ webdiplomacy_version }}</strong>
    <br />
    <br />

    <a href="http://github.com/splittingred/webDiplomacy" class="light">GitHub Project</a> |
    <a href="http://github.com/splittingred/webDiplomacy/issues" class="light">Bug Reports</a> | <a href="mailto:{{ moderator_email }}" class="light">Moderator Email</a> |
    <a href="/help/contact-direct" class="light">Contact Us Directly</a>

    <p>&nbsp;</p>
</div>

<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js?ver={{ js_version }}"></script>
<script type="text/javascript" src="/node_modules/select2/dist/js/select2.min.js"></script>
<script type="text/javascript" src="/javascript/global.js?ver={{ js_version }}"></script>

{{ footer_scripts|raw }}
</body>
</html>