<div class="content-bare content-board-header">
    <div class="boardHeader">
        <div class="variant{{ game.variant.name }}">
            <a id="gamePanel"></a>
            {% include 'games/board/title_bar.twig' with { game: game, board: board } %}
            {% include 'games/board/notice_bar.twig' with { game: game, board: board } %}
            {% if game.allSlotsFilled() and game.phase.isStarted() and current_member.isAuthenticated() %}
                <div class="membersList">
                    {% include 'games/board/header_bar.twig' with { game: game, member: current_member } %}
                </div>
            {% endif %}

            <div class="panelBarGraphTop occupationBar">
                {{ board.occupationBar|raw }}
            </div>
        </div>
    </div>
</div>
<div class="content content-follow-on variant{{ game.variant.name }}">
    {% if forum %}
        {{ forum|raw }}
        <div class="hr"></div>
    {% endif %}

    {{ map|raw }}
    <div class="hr"></div>

    {% if orders %}
        <div id="orderDiv{{ current_member.id }}">{{ orders|raw }}</div>
        <div class="hr"></div>
    {% endif %}

    <div class="gamePanel variant{{ game.variant.name }}">
        {% if current_member.isAuthenticated %}
            {{ component('Games.Votes', { game: game, currentMember: current_member })|raw }}
        {% endif %}
        {{ members|raw }}
        {{ links|raw }}
        <div class="bar lastBar"> </div>
    </div>
</div>