<div class="content-bare content-home-header">
    <table class="homeTable">
        <tr>
            <td class="homeMessages">
                {{ live_games|raw }}
            </td>
            <td class="homeSplit"></td>

            {{ notices|raw }}

            <td class="homeSplit"></td>

            <td class="homeGamesStats">
                {% include 'pages/home/_my_games.twig' with { games: my_games } %}
                <div class="hr"></div>

                {% include 'pages/home/_my_defeats.twig' with { games: my_defeats } %}
                <div class="hr"></div>

                <div class="homeHeader">Spectated games</div>
                {{ watched_games|raw }}

                {{ my_tournaments|raw }}

                {{ spectating_tournaments|raw }}
            </td>
        </tr>
    </table>
</div>