{# TODO: Make a component #}
{% if not member.isInGame and member.isBanned %}
    <div class="panelTempBanned"><strong>You are blocked from rejoining this game.</strong></div>

{% elseif not game.phase.isPreGame and not game.phase.isFinished %}
    <div class="panelAnonOnlyFlag">
        {% if game.members.allOrdersAreEntered %}
            <strong>All countries have entered orders.</strong>
        {% else %}
            <strong>At least 1 country still needs to enter orders!</strong>
        {% endif %}
    </div>
{% endif %}

{{ component('Games.Members.ProgressBar', { game: game, member: member })|raw }}

{% if member.isInGame %}{# only show if member is a part of this game #}
<div class="memberBoardHeader barAlt1 barDivBorderTop">
    <table>
        <tr class="member">
            <td class="memberLeftSide">
                <span class="memberCountryName">{{ member.country.name }}</span>
            </td>
            <td class="memberRightSide {% if member.status.isDead %}memberStatusFade{% endif %}">
                <div>
                    {% if not member.isBanned %}
                    <div class="memberUserDetail">
                        {{ component('Games.Members.OrderStatus', { member: member })|raw }}

                        {% if member.hasNewMessages %}
                            {{ member.unreadMessagesLink|raw }}
                        {% else %}
                            No unread messages.
                        {% endif %}
                    </div>
                    {% endif %}

                    <div class="memberGameDetail">
                        {% if not member.status.isPlaying %}
                            <span class="memberStatus"><em>{{ member.status.text }}</em>.</span>
                        {% endif %}

                        {{ component('Games.Members.BetWon', { game: game, member: member })|raw }}
                        <br />

                        {% if not member.status.isDefeated %}
                            {{ component('Games.Members.UnitCount', { member: member })|raw }}
                        {% endif %}
                    </div>
                    <div class="clear-both"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endif %}