<div id="mapstore">
    <img id="mapImage" src="{{ smallMapUrl }}" alt=" " title="The small map for the current phase. If you are starting a new turn this will show the last turn's orders" />
    <p class="lightgrey" style="text-align:center">
        <a class="mapnav" href="#" onClick="loadMap({{ game.id }},{{ mapTurn }},-1); return false;">
            <img id="Start" src="/images/historyicons/Start_disabled.png" alt="Start" title="View the map from the first turn" />
        </a>

        <a class="mapnav" href="#" onClick="loadMapStep({{ game.id }},{{ mapTurn }},-1); return false;">
            <img id="Backward" src="/images/historyicons/Backward_disabled.png" alt="Backward" title="View the map from the previous turn" />
        </a>

        <a class="mapnav" href="#" onClick="toggleMoves({{ game.id }},{{ mapTurn }}); return false;">
            <img id="NoMoves" src="/images/historyicons/hidemoves.png" alt="NoMoves" title="Toggle movement lines" />
        </a>

        <a id="LargeMapLink" class="mapnav light" href="{{ largeMapUrl }}" target="_blank">
            <img src="/images/historyicons/external.png" alt="Open large map" title="This button will open the large map in a new window. The large map shows all the moves, and is useful when the small map isn\'t clear enough." />
        </a>

        <a class="mapnav" href="#" onClick="loadMapStep({{ game.id }},{{ mapTurn }},1); return false;">
            <img id="Forward" src="/images/historyicons/Forward_disabled.png" alt="Forward" title="View the map from the next turn" />
        </a>

        <a class="mapnav" href="#" onClick="loadMap({{ game.id }},{{ mapTurn }},{{ mapTurn }}); return false;">
            <img id="End" src="/images/historyicons/End_disabled.png" alt="End" title="View the map from the most recent turn" />
        </a>

        {% if isInGame %}
        <a class="mapnav" href="#" onClick="togglePreview({{ game.id }},{{ mapTurn }}); return false;">
            <img id="Preview" src="/images/historyicons/Preview.png" alt="PreviewMoves" title="Show server side stored orders on the map" />
        </a>
        {% endif %}
    </p>
    <p id="History" class="lightgrey"></p>
</div>

<script>
    turnToText={{ game.variant.turnAsDateJS|raw }}
    $(window).on('load', function() {
        mapArrows({{ mapTurn }},{{ mapTurn }});
    });
</script>
<script type="text/javascript" src="/javascript/mapUI.js"></script>