<div class="titleBar">
    <div class="titleBarRightSide">
        <div class="gameTimeRemaining">
            {% if game.phase.isFinished %}
                <span class="gameTimeRemainingNextPhase">Finished:</span> {{ game.processing.getTimeAsText|raw }}
            {% elseif game.processing.isPaused %}
                Paused <img src="/images/icons/pause.png" title="Game paused" />
                ({{ game.processing.getPauseTimeRemainingAsText }} left on unpause)
            {% elseif game.processing.isCrashed %}
                Crashed
            {% else %}
                {% if game.phase.isPreGame %}
                    <span class="gameTimeRemainingNextPhase">Start:</span>
                {% else %}
                    <span class="gameTimeRemainingNextPhase">Next:</span>
                {% endif %}
                {{ game.processing.timeRemainingAsText|raw }} ({{ game.processing.getTimeAsText()|raw }})
            {% endif %}
        </div>
    </div>

    <div class="titleBarLeftSide">
        {% include 'games/icons.twig' with { game: game } %}
        <span class="gameName">{{ game.name }}</span>
    </div>

    <div class="clear-both"></div>

    <div class="titleBarRightSide">
        <div>
            <span class="gameHoursPerPhase">
                <strong>{{ game.phase.getLengthAsText }}</strong> /phase
            </span>
            {{ board.game.getPhaseSwitchAsText()|raw }}
        </div>
    </div>

    <div class="titleBarLeftSide">
        <div>
            Pot:
            <span class="gamePot">{{ game.potType.amount }} {{ game.potType.getPointsIcon|raw }}</span>
            - <span class="gameDate">{{ game.getTurnAsText }}</span>,
              <span class="gamePhase">{{ game.phase.name }}</span>
        </div>
        <div>
            <div class="titleBarLeftSide">
                <span class="gamePotType">{{ game.getVariantNames|join(', ')|raw }}</span>
            </div>
        </div>
    </div>

    <div class="clear-both"></div>

    <div class="titleBarRightSide">
        <span class="excusedNMRs">{{ game.excusedMissedTurns }}</span> excused missed turns
    </div>

    <div class="clear-both"></div>
</div>