<form action="{{ action }}" method="{{ method }}" class="{{ cls }}" id="{{ id }}">
    <input type="hidden" name="form" value="{{ name }}" />
    {{ notice|raw }}
    {{ content|raw }}
    {% if submitBtn %}
        <button type="submit" class="{{ submitBtnCls }}">{{ submitBtnText }}</button>
    {% endif %}
</form>