{% if show %}
<div style="width: 300px; margin: 0 auto; text-align:center;">
    <a href="/help/contact-direct" align="center">Need help?</a>
</div>
<div class="bar membersList memberVotePanel">
    <a id="votebar"></a>
    <table>
        <tr class="member">
            <td class="memberLeftSide">
                <strong>
                    Votes:
                    {{ component('Utilities.HelpIcon', {
                        id: 'votes-help-btn',
                        text: helpText,
                        title: 'Votes'
                    })|raw }}
                </strong>
            </td>
            <td class="memberRightSide">
                <form onsubmit="return confirm('Are you sure you want to cast this vote?');" action="/games/{{ game.id }}/view#votebar" method="post">
                    <input type="hidden" name="formTicket" value="{{ formTicket }}" />

                    <div class="memberUserDetail">
                        {% for vote in votes %}
                            <input type="submit" class="form-submit" name="{{ vote }}" value="{{ vote }}" />
                        {% endfor %}
                    </div>
                </form>

                {% if cancelableVotes is not empty %}
                <form onsubmit="return confirm('Are you sure you want to withdraw this vote?');" action="/games/{{ game.id }}/view#votebar" method="post">
                    <input type="hidden" name="formTicket" value="{{ formTicket }}" />

                    <div class="memberGameDetail">Cancel:
                        {% for cvote in cancelableVotes %}
                            <input type="submit" class="form-submit" name="{{ cvote }}" value="{{ cvote }}" />
                        {% endfor %}
                    </div>
                </form>
                {% endif %}
                <div class="clear-both"></div>
            </td>
        </tr>
    </table>
</div>
{% endif %}